/* Base Styles */
body {
  background-color: #d4f4db;
}

#container {
  width: 95%;
  margin: 0 auto;
}

.main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column; /* Change to column for smaller screens */
}

.Menu {
  flex: 1;
}

#detail {
  flex: 4;
  padding: 27px;
}

.btn {
  padding: 10px;
  border: 1px solid black;
}

.postbox {
  width: 100%; /* Adjust to full width on smaller screens */
  overflow: hidden;
}

.box {
  width: 90%;
  height: 50px;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Dropdown {
  display: flex;
  justify-content: flex-end;
}

/* Media Queries */
@media (min-width: 768px) {
  .main {
    flex-direction: row; /* Row layout for larger screens */
  }
  .Menu{
    flex: none;
  }
  .postbox {
    width: 50%; /* Adjust width for larger screens */
  }
}

@media (min-width: 1024px) {
  #container {
    width: 80%; /* Further adjust container width for larger screens */
  }

  .Menu {
    flex: 1;
  }

  #detail {
    flex: 4;
  }

  .postbox {
    width: 50%;
  }
}
