.dashboard-stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 1rem;
}


.dashboard-stat {
  background-color: rgba(243, 239, 239, 0.804);
  padding: 4rem;
  border: 1px solid rgb(195, 195, 195);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.dashboard-stat h3 {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 500;
}

.dashboard-stat p {
  font-size: 3rem;
  font-weight: 700;
  margin: 1rem 0 0;
  color: #3992ff;
}
