.dashboard-container {
  padding: 2rem;
  background-color: #41D5DE;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

.dashboard-stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 2.5rem;
}


.dashboard-stat {
  background-color: white;
  padding: 5.5rem;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.dashboard-stat h3 {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 500;
}

.dashboard-stat p {
  font-size: 3rem;
  font-weight: 700;
  margin: 1rem 0 0;
  color: #3992ff;
}
