#Menu {
    width: 20rem;
    display: flex;
    flex-direction: column;
    margin-top:2% ;

  }
  
  #Menu > * {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  
  #Menu > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
  }
  
  #Menu nav {
    flex: 1;
    background-color: none;
    overflow: auto;
    padding-top: 1rem;
    
  }
  
 
  #Menu nav a.active span {
    color: inherit;
  }
  
  #Menu nav .active i {
    color: inherit;
  }
  
  #Menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    
  }
  
  #Menu li {
    margin: 0.25rem 0;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(226, 210, 210);

  }
  
  #Menu nav a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    overflow: hidden;
    padding: 1.2rem;
    border-radius: 8px;
    color: inherit;
    text-decoration: none;
    gap: 1rem;
  }
  

  
  #Menu nav a.active {
    background: #E3BEF4;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: 1px solid #9277FF;
  }
  
