.sidebar{
    width: 85%;
    height: 80px;
    background-color: #FFFFFF;
    display: flex;
    overflow: hidden;
    border: 2px solid #D9D9D9;
}

.sidebar1{
    width: 65%;
    height: auto;
}

h1{
    margin-left: 4%;
    margin-top: 10px;
    color: #6100FF;
}

.sidebar2{
    width: 35%;
    height: auto;
}

.Image{
    width: 55px;
    height: 55px;
    background-color: rgb(78, 182, 182);
    border-radius: 50%;
    margin-left: 80%;
    margin-top: 10px;
}
