#table{
    width: 100%;
    
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: Arial, sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
    background-color: #260754;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    text-align: center;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}

tbody tr:hover {
    background-color: #f1f1f1;
}
